grafana:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - demo.local
    path: /grafana
    pathType: Prefix
  grafana.ini:
    server:
      domain: demo.local
      root_url: http://demo.local/grafana/
      serve_from_sub_path: true
prometheus:
  service:
    type: ClusterIP
  prometheusSpec:
    probeSelectorNilUsesHelmValues: false
    probeSelector: {}
    probeNamespaceSelector: {}
prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
