grafana:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    hosts:
      - demo.local
    path: /grafana(/|$)(.*)
    pathType: Prefix
  grafana.ini:
    server:
      domain: demo.local
      root_url: http://demo.local/grafana/
      serve_from_sub_path: true
prometheus:
  service:
    type: ClusterIP
