fullnameOverride: blackbox-exporter

config:
  modules:
    icmp:
      prober: icmp
      timeout: 5s
    dns_udp:
      prober: dns
      timeout: 5s
      dns:
        query_name: google.com
        query_type: A
        transport_protocol: udp
    http_2xx:
      prober: http
      timeout: 10s
      http:
        preferred_ip_protocol: ip4
    tcp_connect:
      prober: tcp
      timeout: 5s

serviceMonitor:
  enabled: true
