apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  namespace: gitea
  labels:
    app: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      containers:
        - name: gitea
          image: gitea/gitea:1.23.4
          ports:
            - containerPort: 3000
          env:
            - name: GITEA__server__DOMAIN
              value: demo.local
            - name: GITEA__server__ROOT_URL
              value: http://demo.local/gitea/
            - name: GITEA__server__SERVE_SUBPATH
              value: "true"
            - name: GITEA__server__HTTP_PORT
              value: "3000"
            - name: GITEA__actions__ENABLED
              value: "true"
          volumeMounts:
            - name: gitea-data
              mountPath: /data
      volumes:
        - name: gitea-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: gitea
  namespace: gitea
spec:
  selector:
    app: gitea
  ports:
    - port: 3000
      targetPort: 3000
