apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
        - name: http-echo
          image: hashicorp/http-echo
          command: ["http-echo"]
          args:
            - "-text=hello from app1"
            - "-listen=:5678"
          ports:
            - containerPort: 5678
---
apiVersion: v1
kind: Service
metadata:
  name: app1
  namespace: demo
spec:
  selector:
    app: app1
  ports:
    - port: 80
      targetPort: 5678