apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  namespace: demo
spec:
  replicas: 0
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
        - name: http-echo
          image: hashicorp/http-echo
          command: 
            - /http-echo
          args:
            - "-text=hello from app2"
            - "-listen=:5678"
          ports:
            - containerPort: 5678
---
apiVersion: v1
kind: Service
metadata:
  name: app2
  namespace: demo
spec:
  selector:
    app: app2
  ports:
    - port: 80
      targetPort: 5678